/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.glass {
    background-color: rgba(40, 40, 40, .15);  
    backdrop-filter: blur(5px);
}
.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
}


.linkSize {
    font-size: 150%;
}

.carousel-max-size {
    max-width: 50%;
    position: fixed;
}

body, html {
    /* The image used */
    background-image: url("/static/Restaurant-Homepage-background.jpg");
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
